<!DOCTYPE html>
<html>
  <head>
  <title>Tiny App</title>
  </head>
  <body>
    <% include ./partials/_headers %>
    <p>
      <ul>
        <% for(let key in url) { %>
        <li><%= key %> <%= url[key].url %></li>

        <div style="display: flex; align-items: center">
          <p style="margin-right: 5px;"><%= url[key].longURL %></p>
          <a href="<%= url[key].longURL %>"> Visit the site </a>
        </div>

        <form action="/urls/<%= key %>/delete" method="POST">
          <input type="submit" value="Delete">
          <a href="/urls/<%= key %>"> Edit </a>
        </form>

        <% } %>
        <br>
        <a href = "/urls/new"> Want to shorten a new URL? </a>
      </br>
      </ul>
    </p>
  </body>
</html>
